*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, ".SFNSText-Regular",
    sans-serif;
}
html,
body {
  background-color: #f0f2f5;
  height: 100%;
  margin: 0;
}
header {
  top: 0;
  left: 0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  background-color: white;
  position: fixed;
  width: 100%;
  height: 56px;
}

.banner-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.f-logo {
  fill: white;
}

.banner-main {
  height: 100%;
  margin-left: 1rem;
  display: flex;
  align-items: center;
}

.banner-search {
  margin-left: 12px;
  background-color: rgb(240, 242, 245);
  width: 240px;
  height: 40px;
  border-radius: 50px;
  display: flex;
  align-items: center;
}

.search-icon {
  margin-top: 5px;
  padding-left: 12px;
  fill: rgb(96, 103, 112);
}

.search-input {
  border: 0;
  background-color: rgba(0, 0, 0, 0);
  font-size: 15px;
  font-weight: 400;
  height: 40px;
  margin-left: 10px;
}
.search-input:focus-visible {
  outline: 0;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none; /* input 태그에서 x표시 삭제 */
}

.banner-menu {
  width: 100%;
  height: 56px;
  position: fixed;
  display: inline-flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.li-menu {
  position: relative;
  width: 110px;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  border-radius: 8px;
  padding: 4px 0px;
}

.menu:hover {
  background-clip: content-box;
  background-color: #f2f2f2;
}
.icon {
  fill: rgb(96, 103, 112);
}

.home-aria {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  padding: 4px 0px;
}

.home-aria:hover {
  background-clip: content-box;
  background-color: #f2f2f2;
}

.home-icon,
.video-icon,
.group-icon,
.gaming-icon {
  z-index: 1;
}

.banner-navigation {
  margin-right: 1rem;
  display: flex;
}
/* .main {
  position: relative;
  height: 80%;
  top: 8%;
} */
.my_post {
  margin-top: 16px;
  width: 40%;
  height: 20%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.article {
  width: 40%;
  height: 82%;
  margin-left: auto;
  margin-right: auto;
}

/* box-shadow: 0 2px 4px var(--shadow-1),0 12px 28px var(--shadow-2); 

--shadow-1: rgba(0, 0, 0, 0.1);
    --shadow-2: rgba(0, 0, 0, 0.2);
    --shadow-5: rgba(0, 0, 0, 0.5);
    --shadow-8: rgba(0, 0, 0, 0.8);
    --shadow-inset: rgba(255, 255, 255, 0.5);

페이스북 그림자
*/
